<div class="header1">
	<img src="/ball_pic2.jpeg" width="100px" height="100px">
	<h2> Welcome to NBA offcourt</h2>
	<p class="header2">
		Create a new account
	</p>
</div>
<div id="content2">
	<div id="sign_up">
		<form action="/users/new" method="POST">
		  <label for="fname" class="fname_label">First Name</label>
		  <input type="text" name="[user]fname" class="field_fname">
		  <label for="lname" class="lname_label">Last Name</label>
		  <input type="text" name="[user]lname" class="field_lname">
		  <label for="email" class="email_label">Email</label>
		  <input type="text" name="[user]email" class="field_email">
		  <label for="password" class="password_label">Password</label>
		  <input type="password" name="[user]password" class="field_password">
		  <input type="submit" value="create my account" id="signin_submit"> 
		</form>
	</div>	
</div>






