
body{
    width:1250px;
    font-family: Arial, Helvetica, sans-serif
}
.sign_in_page_image{
	float:left;
	margin-top:1em;
	margin-right: 1em;
}
.header1{
	font-family:fantasy;
	margin-top: 3em;
	font-size: 18px;
	max-width:370px;
	margin-left: 29.5em;
	border:5px solid grey;
	border-radius: 10px;
	padding-left: 1.5em;
	background-image: url("/bk_pic2.png");
}
#content{
	width:400px;
	margin-left:33.6em ;
	color:white;
}
#login form{
    display: block;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 8px;
    width: 500px;
}
.formlabel{
	font-size: 20px;
	color: black;
    display: block;
    padding: 20px  7px 7px  ;   
}
#login form .field {
    border: 1px solid #ddd;
    padding: 5px;
    width: 218px;
}
#signin_submit {
    background-color:#4682B4; 
    border-radius: 10px;  
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
}
.submit {
    color: white;
    font-size: 17px;
    margin: 12px 0 12px 0;
}
#follow{
    background-color: #4CAF50;
    border-radius: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 green;
    display: inline-block;
}
#send{
    background-color: blue;
    border-radius: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 darkblue;
    display: inline-block;
}
#unfollow{
    background-color: tomato;
    border-radius: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 red;
    display: inline-block;
}
.link_bottom {
    background-color:#4682B4; 
    border-radius: 10px;  
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399dd;
    text-decoration: none;
}
.forgot {
    margin-bottom: 1px;
}
#sign_up form{
    display: block;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
	padding: 5px 8px;
	width: 500px;
}

.header2{
    margin-top: 2em;
    margin-bottom: 1em;


}
.homepage_header{
	margin-left: 5em;
	margin-top: 1em;
	margin-bottom: 2em;
	font-family: arial;
	font-weight:bold;	
}
.notice{
	margin-left:3em;
}
.alert{
    margin-left: 20em;
}
.homepage_subheader{
	font-size:30px;
    color: black;
    font-weight: bold;
    padding: 4px 10px 5px;
}
.sign_in_link{
    text-decoration: none;
    color:white;
    width: 200px;
    margin-right: 0.5em;
    margin-bottom: 3em;
    background-color:#4682B4; 
    border-radius: 10px;  
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 4px ;
    text-shadow: 0 -1px 0 #3399dd;
}
.create_account{
    width: 200px;
    margin-bottom: 3em;
    margin-left: 0.5em;
    background-color:#4682B4; 
    border-radius: 10px;  
    border: 1px solid #3399dd;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    padding: 4px ;
    text-shadow: 0 -1px 0 #3399dd;
}
ul#nav li{
    float:right;
    display: inline;
    margin: 0;
    padding-left: 25px;
}
ul a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.layout_content{
    margin-right: 8em;
    color: black;
}
.layout_content li,a{
    color: black;
}
#homepage_content{
    width:400px;
    margin-left:3em ;
    color:black;
    margin-top: 5em;
}    
#homepage_login{
    float:left;
    border:2px solid grey;
    border-radius: 10px;
    width:400px;
    height:300px;
    margin-top: 1em;
}
#homepage_login form{    
    margin:20px;
    padding: 5px 8px;
    width: 300px;
}
#homepage_login form .field {
    border: 1px solid #ddd;
    padding: 5px;
    width: 218px;
}
#posts{
    float:left;
    width:500px;
    border-radius: 10px;
    margin-left:8em;
    margin-top: 0.9em;  
}
.post_fname{
    padding-left: 1em;
    font-size:20px;
    color: #3399dd;
    display: inline-block;
}
.post_title{
    padding-left: 1.5em;
}
.post_content{
    padding-left: 1.5em;
}
.profile{
    float:left;
    width:200px;
    height:150px;
    border:5px solid grey;
    border-radius: 10px;
    margin-left: 8em;
    
}
.profile_pic{
    float:left;
    padding-left: 1.5em;
    padding-top: 1.3em;
}
.profile_full_name{
    float:left;
    clear:both;
    padding-left: 2.5em;
    font-size: 20px;
}

#profile_posts{
    float:left;
    width:500px;
    border:5px solid grey;
    border-radius: 10px;
    margin-left:8em;
    margin-top: 0.9em;  
    margin-bottom: 3em;
}




















